<!----Based on column name sort the data in table-->
<div class="col-md-12">
  <table class="table table-responsive table-bordered">
    <tr>
      <th (click)="sort('Id')" class="pointer" >
       ID
      </th>
      <th (click)="sort('Name')" class="pointer" >
        Name
      </th>
      <th (click)="sort('Description')" class="pointer">
        Description
      </th>
    </tr>
    <tr *ngFor="let item of records | sortByColumn: {property: column, direction: direction}">
      <td>{{item.Id}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.Description}}</td>
    </tr>
  </table>
</div>
